<%= javascript_pack_tag 'store-create' %>

<!-- Navbar-->
<nav class="navbar navbar-expand-lg shadow navbar-light bg-white">
  <div class="container-fluid">
    <div class="d-flex align-items-center">
      <%= link_to image_tag("logo.svg", alt: "SentryCity Logo"), root_path ,class: "navbar-brand py-1" %>
      <a href="#"><span class="badge badge-danger ml-1">็น</span></a>
      <a href="#"><span class="badge badge-info ml-1">English</span></a>
    </div>
    <button type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler navbar-toggler-right"><i class="fa fa-bars"></i></button>
    <!-- Navbar Collapse -->
    <div id="navbarCollapse" class="collapse navbar-collapse">
      <form action="#" id="searchcollapsed" class="form-inline mt-4 mb-2 d-sm-none">
        <div class="input-label-absolute input-label-absolute-left input-reset w-100">
          <label for="searchcollapsed_search" class="label-absolute"><i class="fa fa-search"></i><span class="sr-only">What are you looking for?</span></label>
          <input id="searchcollapsed_search" placeholder="Search" aria-label="Search" class="form-control form-control-sm border-0 shadow-0 bg-gray-200">
          <button type="reset" class="btn btn-reset btn-sm"><i class="fa-times fas">           </i></button>
        </div>
      </form>
      <ul class="navbar-nav ml-auto">
        <li class="nav-item"><a href="/s?search_params[district_ids][]=5" class="nav-link">Search</a> </li>
        <% if current_user %>
          <li class="nav-item"><%= link_to "Sign out", destroy_user_session_path, class: "nav-link", method: :delete %></li>
        <% else %>
          <li class="nav-item"><a href="#" data-toggle="modal" data-target="#signinModal" class="nav-link">Sign in</a></li>
        <% end %>

        <li class="nav-item mt-3 mt-lg-0 ml-lg-3 d-xl-inline-block"><a href="/create-a-store" class="btn btn-primary">Add a Store Sale</a></li>
      </ul>
    </div>
  </div>
</nav>
<!-- /Navbar -->