<%= javascript_pack_tag 'search' %>

<div class="container-fluid py-5 px-lg-5">
  <div class="row">
    <%= render partial: 'search_bar', locals: { } %>
    <div id="search-results" class="col-lg-9">
      <%= render partial: 'search_results', locals: { stores: @stores } %>
    </div>
  </div>
</div>

<%= render "shared/footer" %>